{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"mount_file_id":"18QSWTX5n8k_HzIXu2sd0W5uQlyIzOU0j","authorship_tag":"ABX9TyP7hU1/ixNBk/Kymeybv2Sj"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"markdown","source":["pandas\n","\n","numpy\n","\n","scikit-learn\n","\n","```\n","# This is formatted as code\n","```\n","\n"],"metadata":{"id":"npikeHoS9EAs"}},{"cell_type":"code","execution_count":null,"metadata":{"id":"EDEibQTk8c75"},"outputs":[],"source":[]},{"cell_type":"code","source":[],"metadata":{"id":"6NaqMqUA-T-x"},"execution_count":null,"outputs":[]}]}